.feature-block {
	background: $primary;
	padding: 82px 0 80px;

	@include media('>=tablet') {
		padding: 120px 0 119px;
	}

	.text-holder {
		color: $white;
		position: relative;
		margin-bottom: 30px;
		padding: 0 0 87px;

		@include media('>=tablet') {
			padding: 0 0 73px;
			margin-bottom: 16px;
		}

		&:after {
			position: absolute;
			font-family: 'icomoon';
			content: "\e909";
			font-size: 44px;
			bottom: -5px;
			right: 26%;

			@include media('<tablet') {
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}
}
