.platforms-list {
	@extend %listreset;
	display: flex;
	align-items: center;
	margin: 0 -13px -20px;

	@include media('<tablet') {
		justify-content: center;
		padding: 0 0 60px;
	}

	@include media('<phone') {
		flex-wrap: wrap;
	}

	li {
		margin: 0 13px 20px;
	}

	a {
		transition: opacity 0.3s ease-in-out;

		&:hover {
			opacity: .7;
		}
	}
}